<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes">

        <!-- Hauptseite der App -->
        <activity
            android:name=".MainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivität für das Bearbeiten von Notizen -->
        <activity
            android:name=".EditNoteActivity"
            android:exported="true" />

        <!-- Aktivität für die Detailansicht einer Notiz -->
        <activity
            android:name=".DetailPage"
            android:exported="true" />

        <!-- Aktivität für das Verwalten von Kategorien -->
        <activity
            android:name=".CategoryManagementActivity"
            android:exported="true" />

        <!-- Einstellungen der App -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
    </application>

</manifest>
